NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_ENVIRONMENT=local
SENTRY_DSN=
SENTRY_ENVIRONMENT=local
NEXT_PUBLIC_SENTRY_STORE_URL=
NEXT_PUBLIC_SENTRY_KEY=
NEXT_PUBLIC_SENTRY_LOGGER=otraki-manual-test
NEXT_PUBLIC_SENTRY_PLATFORM=other
